body {
  background: #111;
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-family: sans-serif;
}

#uploadButton {
  margin: 20px;
}

canvas {
  display: block;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 50vh;
}

#sliderContainer {
  position: relative;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  color: white;
}

#reduceSliderContainer {
  position: relative;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  color: white;
}

#uploadContainer {
  position: relative;
  top: 10px;
  left: 10px;
  z-index: 10;
}